
@media (min-width: 400px) {
   }
@media(min-width: 400px){
.content{
    /*position: absolute;*/
    float: left;
    margin-left: 400px;
    width: 374px;
    height: 23100px;
    padding-bottom: 20;
    padding-right: 10px;
    float: left;
    margin-right: 0;
    left: 272px;
    background-color: #e9eaed;
    color: #141823;
    line-height: 2.34;
    font-size: 12px;
    direction: ltr;
    margin-top: 45px;
}}
.post-detail{
    /*position: relative;*/
    width: 355px;
    height: 324px;
    padding: 12px 12px 0;
    background-color: #fff;
    /*border: 1px solid black;*/
}
.post-head{
    float: left;
    margin-top: -12px;
    height: 31px;
    width: 342px;
    /*border: 1px solid black;*/
    top: 0;
    left: 0;
    box-shadow: 10px 10px 5px blue;
}
.user-profile{
    float: left;
    margin-left: 0px;
    height: 30px;
    width: 30px;
    /*border: 1px solid black;*/
    cursor: pointer;
   }
.user-update{
    float: left;
    height: 20px;
    width: 312px;
    left: 32px;
    font-family: helvetica, arial, sans-serif;
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
    background-color: lightblue;
}
.post-footer{
    float: left;
    margin-left: 2px;
    height: 30px;
    width: 340px;
    /*border: 1px solid black;*/
    bottom: 0;
    left: 0;
    /*cursor: pointer;*/
    background-color: lightblue;
    box-shadow: 10px 10px 5px blue;
 
}
.fb-like{
    float: left;

    height: 30px;
    width: 105px;
    /*border: 1px solid black;*/
    cursor: pointer;
    left: 15px;
}

.fb-comment{
    float: left;
    height: 30px;
    width: 115px;
    
    left: 165px;
    cursor: pointer;
}
.fb-share{
    float: left;
    margin-top: -25px;
    height: 30px;
    width: 115px;
   
    left: 340px;
    cursor: pointer;
}
.post{
    float: left;
    margin-left: 2px;
    margin-top: 10px;
    height: 265px;
    width: 345px;
    /*border: 1px solid black;*/
    left: 10px;
    top: 38px;
    cursor: pointer;
}
.likes{
    float: left;
    font-size: 11px;
    margin-left: -90px;
    height: 25px;
    width: 95px;
    /*border: 1px solid black;*/
    left: 30px;
}
.comments{
    float: left;
    margin-left: -90px;
    font-size: 11px;
    height: 25px;
    width: 100px;
    /*border: 1px solid black;*/
    left: 186px;
}
.share{
    float: right;
    margin-top: -30px;
    height: 25px;
    width: 100px;
    /*border: 1px solid black;*/
    left: 360px;
    font-size: 11px;
}
.post-time{
    float: left;
    margin-left: 161px;
    margin-top: -22px;
    height: 25px;
    width: 150px;
    /*border: 1px solid black;*/
    left: 204px;
    font-size: 11px;
}